@charset "utf-8";
/* CSS Document */



@media screen
and (max-width :1024px) and (min-width :768px)   {
	
	
.bx-jk{
	width:47% !important;
	padding-left: 50px;}
	
/*	.head-namer{
	padding:0;
	width:100%;
	margin-bottom:20px;}*/
	.head-namer{padding: 0;
width: 23%;
margin-bottom: 20px;
margin-top: 5%;}
/*.head-namer h3{
	font-size:18px;}*/
.head-namer h3{
	font-size:14px !important;}
	
}


@media screen
and (max-width :768px) and (min-width :480px)   {
		#main-menu{
		height:350px !important;
		overflow:scroll !important;}
	.navbar-side{
	position:fixed !important;
	width:100% !important;
	top: 259px !important;}
	.navbar-toggle{
		background-color:#e67c6b !important;}

	.navbar-right {
    padding-top: 0 !important;
    text-align: center;
}
.diry-ser-cn .btn-success{
	float: left !important;
    margin-top: 20px !important;
}




.tim{
	font-size:12px !important;}
	
.navbar-toggle{
	margin-top:68px !important;}
	
.header{
	margin:0 !important;}
.head-mn h1{
	font-size:23px !important;
	padding-left:0 !important;
	text-align:center;}
	
#page-inner{
	padding: 15px 0px !important;}
	
#page-wrapper{
	top:258px !important;}
	
.st-stren{
	margin-bottom: 50px;}
	
.page-header{
	padding-bottom:0 !important;}
	
.hda2{
	width:100% !important;}
.cardr{
	margin-bottom:50px !important;}
	
.bx-jk{
	width:100% !important;
	padding-left: 50px;}
	
.cardr{
	min-height:auto !important;}
	
footer p{
	text-align:center;
	font-size:18px !important;}
footer p a:hover{
	text-decoration:none}	
	
	
	.top-navbar .nav > li{
		margin-right:0 !important;}	
	.schl-nam h3{
		font-size:16px;}
		
				
.tim{
	width:100%;}
	
.head-namer{
	padding:0;
	width:100%;
	margin-bottom:20px;}
	
.head-namer h3{
	font-size:18px;}
	
	.sel-div {
    width: 100% !important;
    float: left;
}
	

    }
@media screen
and (max-width :480px) and (min-width :360px)   {
		#main-menu{
		height:350px !important;
		overflow:scroll !important;}
	.navbar-side{
	position:fixed !important;
	width:100% !important;
	top: 259px !important;}
	.navbar-toggle{
		background-color:#e67c6b !important;}
	
		.navbar-right {
    padding-top: 0 !important;
    text-align: center;
}	


.diry-ser-cn .btn-success{
	float: left !important;
    margin-top: 20px !important;
}



.tim{
	font-size:12px !important;}
	
.navbar-toggle{
	margin-top:68px !important;}
	
.header{
	margin:0 !important;}
.head-mn h1{
	font-size:23px !important;
	padding-left:0 !important;
	text-align:center;}
	
#page-inner{
	padding: 15px 0px !important;}
	
#page-wrapper{
	top:249px !important;}
	
.st-stren{
	margin-bottom: 50px;}
	
.page-header{
	padding-bottom:0 !important;}
	
.hda2{
	width:100% !important;}
.cardr{
	margin-bottom:50px !important;}
	
.bx-jk{
	width:100% !important;
	padding-left: 50px;}
	
	
	
		.top-navbar .nav > li{
		margin-right:0 !important;}	
	.schl-nam h3{
		font-size:16px;}
		
.tim{
	width:100%;}
	
.head-namer{
	padding:0;
	width:100%;
	margin-bottom:20px;}
	
.head-namer h3{
	font-size:18px;}
	
.sel-div {
    width: 100% !important;
    float: left;
}
.top-navbar .navbar-brand{
	padding-right:0 !important;}
	
.top-navbar .navbar-brand img{
	margin-left:20%;}			
    }


@media screen
and (max-width :360px) and (min-width :0px)   {
	
	#main-menu{
		height:350px !important;
		overflow:scroll !important;}
.navbar-side{
	position:fixed !important;
	width:100% !important;
	top: 259px !important;}
	.navbar-toggle{
		background-color:#e67c6b !important;}
		
		.navbar-right {
    padding-top: 0 !important;
    text-align: center;
}


.diry-ser-cn .btn-success{
	float: left !important;
    margin-top: 20px !important;
}




.tim{
	font-size:12px !important;
	margin-right:0 !important;}
	
.navbar-toggle{
	margin-top:68px !important;}
	
.header{
	margin:0 !important;}
.head-mn h1{
	font-size:23px !important;
	padding-left:0 !important;
	text-align:center;}
	
#page-inner{
	padding: 15px 0px !important;}
	
#page-wrapper{
	top:253px !important;}
	
.st-stren{
	margin-bottom: 50px;}
	
.page-header{
	padding-bottom:0 !important;}
	
.hda2{
	width:100% !important;}
.cardr{
	margin-bottom:50px !important;}
	
.bx-jk{
	width:100% !important;
	padding-left: 50px;}
	
.cardr{
	min-height:auto !important;}
        
footer p{
	text-align:center;
	font-size:18px !important;}
footer p a:hover{
	text-decoration:none}	
	
	
	
	.top-navbar .nav > li{
		margin-right:0 !important;}	
	.schl-nam h3{
		font-size:16px;}
		
				
.tim{
	width:100%;}
	
.head-namer{
	padding:0;
	width:100%;
	margin-bottom:20px;}
	
.head-namer h3{
	font-size:18px;}
	
.sel-div {
    width: 100% !important;
    float: left;
}
.top-navbar .navbar-brand{
	padding-right:0 !important;}
	
.top-navbar .navbar-brand img{
	margin-left:20%;}		
		}


